<h1>We Countin' Words, People!</h1>
<form action="/words">
  <div class="form-group">
     <label for="word_input">Enter a sentence, brotato</label>
     <input id="word_input" name="word_input" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="count">Enter the word you would like to count within the sentence.</label>
    <input id="count" name="count" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
