<h1>We Countin' Words, People!</h1>
<form action="/words">
  <div class="form-group">
     <label for="words">What words are repeated and how many times?</label>
     <input id="words" name="words" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
