<h1>We Countin' Words, People!</h1>
<form action="/number">
  <div class="form-group">
     <label for="sentence">Enter a sentence, brotato</label>
     <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="find">Enter the word you would like to count within the sentence.</label>
    <input id="find" name="find" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
